﻿@using Microsoft.AspNetCore.Identity
@using OnlineShoppingWebApplication.Core.Entities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShoppingWebApplication.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
     <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidenav-col">
                <div class="sidenav">
                    <div class="logo-container">
                        <button onclick="toggleSidenav()" class="logo">S</button>
                        <div class="logo-text">Shoppi</div>
                        <button class="btn-close" onclick="closeSidenav()">
                            <i class="close-icon fal fa-times"></i>
                        </button>
                    </div>
                    <div class="scrollwrap scrollwrap-delayed">
                        <ul class="sidenav-nav">
                            <li class="sidenav-nav-item">
                                <a class="sidenav-nav-link" asp-area="" asp-controller="Category" asp-action="Index">
                                    <i class="sidenav-link-icon fal fa-list-alt"></i>
                                    <span class="sidenav-link-text">Category</span>
                                </a>
                            </li>
                            <li class="sidenav-nav-item">
                                <a class="sidenav-nav-link" asp-area="" asp-controller="Product" asp-action="Index">
                                    <i class="sidenav-link-icon fal fa-box-open"></i>
                                    <span class="sidenav-link-text">Product</span>
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="sidenav-nav-item">
                                    <a class="sidenav-nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                        <i class="sidenav-link-icon fal fa-user"></i>
                                        <span class="sidenav-link-text">User</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-10 sidenav-main sidenav-content">
                <div class="row head">
                    <div class="head-content">
                        <div class="col-6 head-content-left">
                            <div class="search-container">
                                <div class="normal-search">
                                    <input type="text" class="search" placeholder="Search...">
                                    <i class="far fa-search search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 head-content-right">
                            <div class="head-menu">
                                <div class="head-menu-item">
                                    <button class="head-menu-item-btn ripple">
                                        <i class="far fa-bell menu-icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="head-user-avatar-container">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-padding-unset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="head-user-avatar">
                                        <img src="~/img/user3.png" alt="user" class="user-avatar">
                                        <div class="circle-indicator pulse"></div>
                                    </div>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button" onclick="window.location='@Url.Action("AccountInformation", "User")'"><i class="fal fa-user"></i> My Account</button>
                                    <button class="dropdown-item" type="button" onclick="window.location='@Url.Action("ChangePassword", "User")'"><i class="fal fa-key"></i> Change Password</button>
                                    <button class="dropdown-item" type="button" onclick="window.location='@Url.Action("LogOut", "User")'">
                                        <i class="fal fa-sign-out"></i> Sign Out
                                    </button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="content-main">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_ConfirmDeletePartial")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
