﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShoppingWebApplication.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/user.css" />
</head>
<body>
    <div class="wrapper">
      <div class="wrapped-div">
          <div class="tab-header">
              <a id="tab-link-signin" class="tab-link" asp-action="SignIn" asp-controller="User"><h2 id="tab-link-text-signin" class="tab-link-text">Sign In</h2></a>
              <a id="tab-link-signup" class="tab-link" asp-action="SignUp" asp-controller="User"><h2 id="tab-link-text-signup" class="tab-link-text">Sign Up</h2></a>
          </div>
          <div class="row">
              <div class="col-md-10 offset-md-1">
                    @RenderBody()
              </div>   
          </div>
      </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
