﻿@using OnlineShoppingWebApplication.Service.Services.DTOs
@model CategoryDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Details Category</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Index", "Category")'">
        <i class="fal fa-hand-o-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <div class="p-3">
        <input hidden value="@Model.Id" />
      <div class="form-group">
        <label for="name" class="font-weight-bold">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" readonly>
      </div>
      <div class="form-group">
        <label for="description" class="font-weight-bold">Description</label>
        <textarea rows="3" class="form-control" id="description" asp-for="Description" readonly></textarea>
      </div>
    </div>
  </div>
</div>
