﻿@using OnlineShoppingWebApplication.Service.Services.DTOs

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductDto

<h2>Edit</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Index", "Product")'">
        <i class="fal fa-hand-o-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <form class="p-3" asp-controller="Product" asp-action="Edit" method="post">
        <input hidden value="@Model.Id" />
        <div class="form-group">
        <label for="categoryid" class="font-weight-bold">Category select</label>
        <select class="form-control" id="categoryid" asp-for="CategoryId">
            <option value="">Choose...</option>
            @foreach (var item in ViewBag.CategoryList)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="name" class="font-weight-bold">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="price" class="font-weight-bold">Price</label>
        <input type="number" class="form-control" id="name" asp-for="Price" placeholder="Enter price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
      <div class="form-group">
        <label for="description" class="font-weight-bold">Description</label>
        <textarea rows="3" class="form-control" id="description" asp-for="Description" placeholder="Enter description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

