﻿@using OnlineShoppingWebApplication.ViewModels.Paging
@using OnlineShoppingWebApplication.Service.Services.DTOs
@model PagedResult<ProductDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Product List</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
      <div class="row">
          <div class="col-3">
              <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Create", "Product")'">
                <i class="fal fa-plus-square"></i> Create
              </button>
          </div>
          <div class="col-9">
              <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div class="cold-3">
                            <button type="submit" class="btn btn-primary">Search</button>
                            <button type="button" onclick="window.location='@Url.Action("Index", "Product")'" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
              </form>
          </div>
      </div>
    
  </div>
  <div class="card-body">
    @{
    int i = 0;
    <div class="table-responsive">
            <table class="table table-bordered table-striped" id="product">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="w-10">#</th>
                        <th scope="col" class="w-20">Name</th>
                        <th scope="col" class="w-20">Price</th>
                        <th scope="col" class="w-30">Description</th>
                        <th scope="col" class="w-20">Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Items)
            {
                i+=1;
                    <tr>
                        <th class="w-10" scope="row">@i</th>
                        <td class="w-20" id="name">@item.Name</td>
                        <td class="w-20" id="name">@item.Price</td>
                        <td class="w-30">@item.Description</td>
                        <td class="w-20">
                            <button type="button" class="btn btn-warning" onclick="window.location='@Url.Action("Details", "Product", new { id = @item.Id})'">
                                <i class="fal fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-info" onclick="window.location='@Url.Action("Edit", "Product", new { id = @item.Id})'">
                                <i class="fal fa-edit"></i>
                            </button>
                            <button value="@item.Id" type="button" class="btn btn-danger" id="btnDelete">
                                <i class="fal fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
            }               
                </tbody>
            </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
}
  </div>
</div>
