﻿@using OnlineShoppingWebApplication.Service.Services.User.DTOs
@model UserDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Details</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Index", "User")'">
        <i class="fal fa-hand-o-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <div class="p-3">
      <div class="form-group">
        <label for="name" class="font-weight-bold">First Name</label>
        <input type="text" class="form-control " id="name" asp-for="FirstName" readonly>
      </div>
      <div class="form-group">
        <label for="lastname" class="font-weight-bold">Last Name</label>
        <input type="text" class="form-control" id="lastname" asp-for="LastName" readonly>
      </div>
      <div class="form-group">
        <label for="fullname" class="font-weight-bold">Full Name</label>
        <input type="text" class="form-control" id="fullname" asp-for="FullName" readonly>
      </div>
        <div class="form-group">
        <label for="username" class="font-weight-bold">User Name</label>
        <input type="text" class="form-control" id="username" asp-for="UserName" readonly>
      </div>
      <div class="form-group">
        <label for="dob" class="font-weight-bold">Date Of Birth</label>
        <input type="date" class="form-control" id="dob" asp-for="DOB" readonly>
      </div>
      <div class="form-group">
        <label for="email" class="font-weight-bold">Email</label>
        <input type="text" class="form-control" id="email" asp-for="Email" readonly>
      </div>
      <div class="form-group">
        <label for="phonenumber" class="font-weight-bold">Phone Number</label>
        <input type="text" class="form-control" id="phonenumber" asp-for="PhoneNumber" readonly>
      </div>
    </div>
  </div>
</div>