﻿@using OnlineShoppingWebApplication.Service.Services.User.DTOs
@model UserEditDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User Information</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("AccountInformation", "User")'">
        <i class="fal fa-hand-o-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <form class="p-3" asp-action="Edit" asp-controller="User">
        <input hidden value="@Model.Id" />
      <div class="form-group">
        <label for="name" class="font-weight-bold">First Name</label>
        <input type="text" class="form-control " id="name" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="lastname" class="font-weight-bold">Last Name</label>
        <input type="text" class="form-control" id="lastname" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="dob" class="font-weight-bold">Date Of Birth</label>
        <input type="date" class="form-control" id="dob" asp-for="DOB">
        <span asp-validation-for="DOB" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="email" class="font-weight-bold">Email</label>
        <input type="text" class="form-control" id="email" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="phonenumber" class="font-weight-bold">Phone Number</label>
        <input type="text" class="form-control" id="phonenumber" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
      </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

