﻿@using OnlineShoppingWebApplication.Service.Services.User.DTOs
@model UserCreateDto

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form autocomplete="off" asp-action="SignUp" asp-controller="User" method="post">
    <div class="mb-2 form-group required">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName" asp-for="FirstName">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-2 form-group required">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-2 form-group required">
        <label for="UserName" class="form-label">UserName</label>
        <input type="text" class="form-control" id="UserName" asp-for="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-2 form-group">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div formGroupName="Passwords">
        <div class="mb-2 form-group required">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-2 form-group required">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 form-row">
        <div class="d-grid gap-2 col-6 mx-auto form-group">
            <button class="btn btn-lg btn-block" type="submit">Sign Up</button>
        </div>
    </div>
</form>

